.weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 170px;
}

.weatherInfo-rightside-container {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.weatherInfo-separator {
  width: 40%;
  height: 0px;
  background: #0078D4;
  border: 1.5px solid #0078D4;
}

.weatherInfo-current-time {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.weatherInfo-icon {
  width: 50px;
  height: 50px;
}