.scrollFor-arrow-down-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 11;
}

.scrollFor-arrow-down-container > * {
  margin-top: 16px;
}

.scrollFor-arrow-down:hover {
  filter: invert(6%) sepia(0%) saturate(95%) hue-rotate(223deg) brightness(100%) contrast(80%);
}

.scrollFor-arrow-clicked {
  transform: rotate(180deg);
}