.mainBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: calc(100vh - (var(--header-height)) / 2); */
  /* height: 100vh; */
  width: 100vw;
  height: 90vh;
}

.mainBody-container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.mainBody-container > * {
  z-index: 1;
}

.mainBody-arrow-down {
}

.mainBody-arrow-down:hover {
  filter: invert(6%) sepia(0%) saturate(95%) hue-rotate(223deg) brightness(100%)
    contrast(80%);
}

.mainBody-sideMenu {
  position: fixed;
  top: 0%; 
  left: var(--page-side-margin, 48px); 
}

.mainBody-socialLinks {
  position: fixed;
  top: 0vh;
  right: var(--page-side-margin, 48px);
}

.mainBody-mostVisited {
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
}