.sideSocialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  user-select: none;
  align-items: flex-end;
}

.sideSocialLinks > * {
  margin-top: 30px;
  cursor: pointer;
}

.sideSocialLinks > img {
  width: 26px;
  height: 26px;
}