.sideSocialLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  user-select: none;
  align-items: flex-end;
}

.sideSocialLinks > * {
  margin-top: 16px;
  cursor: pointer;
}

.sideSocialLinks img {
  width: 22px;
  height: 22px;
}