body {
  background-color: black;
  color: white;
}

:root {
  --blur-value: 0px;
}

.mainPage {
  display: flex;
  flex-direction: column;
}


/* Blurable elements */
.mainPage::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../../assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(var(--blur-value));
  -moz-filter: blur(var(--blur-value));
  -ms-filter: blur(var(--blur-value));
  filter: blur(var(--blur-value));
  
}
.mainBody-arrow-down-container {
  align-self: center;
  /* margin-top: -400px; */
  transform: translateY(-100%);
  /* margin-bottom: 32px; */
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 20%;
}
