:root {
  --header-margin: 5vw;
  --header-height: 20%;
}

.header {
  display: flex;
  width: 100%;
  height: var(--header-height, 20%);
  justify-content: space-between;
  flex-direction: row;
  padding-top: 36px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.header > * {
  width: 50%;
}

.header > :first-child{
  margin-left: var(--header-margin);
}
.header > :last-child{
  margin-right: var(--header-margin);
  justify-content: flex-end;
  align-items: flex-start;
}