:root {
  --header-height: 50px;
}

.header {
  display: flex;
  width: 100%;
  height: var(--header-height, 20%);
  min-height: var(--header-height, 20%);
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 12px;
  /* position: fixed; */
  top: 0;
  z-index: 10;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,1) 100%);
}

.header-title {
  display: flex;
  justify-content: center;
}

/* .header > * {
  width: 50%;
} */

.header > :first-child{
  margin-left: var(--page-side-margin);
}
.header > :last-child{
  margin-right: var(--page-side-margin);
  justify-content: flex-end;
  margin-top: -3px;
}