:root {
  --header-height: 20vh;
}

.header {
  display: flex;
  width: 100%;
  height: var(--header-height, 20%);
  min-height: var(--header-height, 20%);
  justify-content: space-between;
  flex-direction: row;
  padding-top: 36px;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,1) 100%);
}

.header > * {
  width: 25%;
}

.header > :first-child{
  margin-left: var(--page-side-margin);
}
.header > :last-child{
  margin-right: var(--page-side-margin);
  justify-content: flex-end;
  align-items: flex-start;
}