.sideMenu {
  display: flex;
  flex-direction: column;
  width: 50%;
  user-select: none;
  justify-content: center;
  height: 100%;
}

.sideMenu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  width: min-content;
  height: 40px;
  max-width: 40px;
  transition: max-width 0.5s ease;
  overflow: hidden;
}

.sideMenu > .sideMenu-item {
  margin-top: 39px;
}

.sideMenu-item > * {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 7px;
  padding-right: 9px;
}

.sideMenu-item-name {
  font-size: 14px;
  color: #ffffff;
}

.sideMenu-item:hover {
  max-width: 200px;
}

.sideMenu-item > .icon {
  width: 22px;
  height: 22px;
  aspect-ratio: 1;
}

.sideMenu-item-selected.sideMenu-item {
  border: 1.5px solid #0078D4;
  background: #0078D4;
  max-width: 200px;
}

.media-icon {
  margin-left: 1px;
}