.mostVisited {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.mostVisited > * {
  margin: 16px;
}

.mostVisitedItem > iframe {
  width: calc(100% - 20px);
  /* Based on the font size */
  height: 14px; 
  border: none;
}

.mostVisitedItemCloseIcon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.mostVisitedItem:hover > .mostVisitedItemCloseIcon {
  opacity: 1;
}

.mostVisitedItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 60px;
  background: #494949;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  position: relative;
}

.mostVisitedItemIcon {
  width: 30px;
  height: 30px;
}