.mostVisited {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.mostVisited > * {
  margin: 16px;
}

.mostVisitedItem > iframe {
  width: 100%;
  height: 20%;
  border: none;
}

.mostVisitedItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 60px;
  background: #494949;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.mostVisitedItemIcon {
  width: 30px;
  height: 30px;
}