.siteInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.siteInfo > * {
  /* margin-bottom: 32px; */
}

.siteInfo-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 45px; */
  color: #ffffff;
}

.siteInfo-container {
}