:root {
  --news-content-width: var(--searchbar-width, 40%);
}

.news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.news-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.news-container > * {
  width: 30%;
}

.news-arrow-down-container {
  align-self: center;
  transform: translateY(-200%);
  position: sticky !important;
  top: calc((var( --header-height, 20%) / 1.5) + var(--searchbar-top-offset));
  /* margin-top: calc(var(--header-height, 20%) * -1); */
}

.news-content:before {
  height: var(--header-height, 20%);
  content: "";
  display: block;
}

.news-content {
  width: var(--news-content-width, 40%) !important;
  min-height: 100vh;
}

.news-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6012780112044818) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.news-item {
  position: relative;
  display: inline-block;
  border: 1px solid white;
  border-radius: 2px;
}
.news-item-image {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.news-item-info-container {
  position: absolute;
  z-index: 1;
  transform: translateY(-100%);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.news-item-info-container > span {
  width: calc(100% - 48px);
  font-size: 16px;
}

.news-item-info-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  margin: 16px;
}

.news-item-info-buttons > img {
  width: 16px;
  height: 16px;
}
.news-item-info-buttons > * {
  margin-left: 16px;
  /* margin-top: 4px; */
  /* margin-bottom: 4px; */
}
