@font-face {
  font-family: 'Mulish';
  src: local('Mulish'), url(./assets/fonts/Mulish-Regular.ttf) format('truetype');
}

* {
  font-family: 'Mulish', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}